body{
  background-color: #eee;
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
}
main {
  width: 600px;
  margin: 0 auto;
  background-color: #999;
  padding: 20px;
  border-radius: 5px;
}

h1 {

}

table{
  width: 100%;
}
table td {
  text-align: center;
}
