/*body{
  background-color: #eee;
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
}*/
main {
  background-color: #eee;
}
/*
h1 {

}

table{
  width: 100%;
}
table td {
  text-align: center;
}*/
