<h1>Sorting Hat</h1>

<table>
  <thead>
    <tr>
      <th>
        Student
      </th>
      <th>
        Last Picked
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <% unless user.picks.empty? %>
            <%= user.picks.order(picked_at: :desc).first.picked_at %>
          <% end %>
        </td>

        <td>
          <a href="/users/<%= user.id %>/edit">Edit</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<form action="/pick" method="post">
  <input type="submit" name="submit" value="Pick Student!">
</form>

<h4>Add student</h4>

<form class="" action="/users" method="post">
  <label for="name">Name</label>
  <input type="text" name="user[name]" value="" placeholder="Jane Smith">

  <label for="email">Email</label>
  <input id="email" type="text" name="user[email]" value="" placeholder="jobs@emails.com">

  <label for="phone_number">Phone</label>
  <input type="text" name="user[phone_number]" value="" placeholder="(xxx) xxx-xxxx">

  <input type="submit" name="submit" value="Save">
</form>
