<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sorting Hat</h1>


    <% @users.each do |user| %>
      <p>
        <%= user.name %>
        <%= user.phone_number %>
        <%= user.email %>
      </p>
    <% end %>


    <h4>Add student</h4>
    <form class="" action="/users" method="post">
      <label for="name">Name</label>
      <input type="text" name="user[name]" value="" placeholder="Jane Smith">

      <label for="email">Email</label>
      <input id="email" type="text" name="user[email]" value="" placeholder="jobs@emails.com">


      <!-- <label for="coolcheckbox">
        Cool
        <input id="coolcheckbox" type="checkbox" name="user[traits][]" value="cool">
      </label>

      <label for="lamecheckbox">
        Lame
        <input id="lamecheckbox"type="checkbox" name="user[traits][]" value="lame">
      </label> -->

      <label for="phone_number">Phone</label>
      <input type="text" name="user[phone_number]" value="" placeholder="(xxx) xxx-xxxx">

      <input type="submit" name="submit" value="Save">
    </form>


  </body>
</html>
